<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layouts/default_layout}"
    layout:fragment="Content">


	<div class="text-center">
		<form name="insertForm" th:action="@{/boardInsert}" method="post">
			<h3>게시글 정보</h3>
			<table class="table">
				<tr>
					<th>제목</th>
					<td>[[${bods.title}]]</td>
				</tr>
				<tr>
					<th>작성자</th>
					<td>[[${bods.writer}]]</td>
				</tr>
				<tr>
					<th>내용</th>
					<td>[[${bods.content}]]</td>
				</tr>
				<tr>
					<th>작성일자</th><!-- yyyy/MM/dd -->
				<td>[[${#dates.format(bods.regDate, 'yyyy/MM/dd')}]]</td>
				</tr>
				<tr>
					<th>수정일자</th>
					<td>[[${#dates.format(bods.modDate, 'yyyy/MM/dd')}]]</td> 
					<!--<td>[[${bods.modDate}]]</td> -->
				</tr>
				
			</table>
			<button type="button" th:onclick='|location.href="@{/board/bodsUpdate(postNo=${bods.postNo})}"|'>수정</button>
			<button type="button" th:onclick='|location.href="@{/board/bodsList(boardNo=${bods.boardNo})}"|'>목록</button>
			<button type="button" th:onclick='|location.href="@{/board/bodsDelete(postNo=${bods.postNo}, boardNo=${bods.boardNo})}"|'>삭제</button>
		</form>
	</div>
</div>
