<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layouts/default_layout}"
    layout:fragment="Content">
    
	<div class="text-center">
		<form name="insertBodsComts" th:action="@{/board/bodsComts}" method="post">
			<h3>댓글 등록</h3>
			<input type="text" name="postNo" th:value = "${param.postNo}">
			<table class="table">
	
				<tr>
					<th>작성자</th>
					<td><input type="text" name="writer"></td>
				</tr>
			
				<tr>
					<th>내용</th>
					<td><textarea name="content"></textarea></td>
				</tr>
				
			

			</table>
			<button type="button" id="btninsert">등록</button>


		</form>
	</div>
	<script>
		// submit을 하기 전 제목, 작성자, 작성일자 확인
		$("#btninsert").on('click', boardInsertHandler);

		function boardInsertHandler() {
			
			
			let writer = $('form [name="writer"]');
			if (writer.val() == '') {
				alert('작성자가 입력되지 않았습니다.');
				writer.focus();
				return;
			}
			
			let content = $('form [name="content"]');
			if (content.val() == '') {
				alert('내용이 입력되지 않았습니다.');
				content.focus();
				return;
			}
				

		
			//document.insertBodsComts.submit();
			console.log($(document.insertBodsComts).serialize());
			
			//이부분을 아작스로 변경 페치나
				 $.ajax({
					    type:'post',
				        url : '/board/bodsComts',
				        data:$(document.insertBodsComts).serialize(),
				        success : function(data){
				            if(data=="success")
				            {
				            	
				               // getCommentList();
				                content.val("");
				            }
				           
				        },
				        error:function(request,status,error){
				            //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				       }
				        
				    });
				 alert('댓글이 등록되었습니다.');
			}
		
	</script>
</div>