<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<div class="card"
		style="width: 800px; min-height: 300px;  border: 1px solid green;"
		align="center">
		<div class="card-body">
			<h5 class="card-title">모든게시판 목록</h5>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">게시판 번호</th>
					<!-- 1번이 공지사항 2번이 자유게시판 -->
					<th scope="col">게시판 명</th>
					<th scope="col">말머리</th>
					<th scope="col">등록일</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${bodsCfigList}">
					<tr>
						<td>[[${info.boardNo}]]</td>
						<td>[[${info.name}]]</td>
						<td>[[${info.subject}]]</td>
						<td>[[${info.regDate}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>




		<!--<button type="button"
			th:onclick='|location.href="@{/board/bodsInsert(boardNo=${param.boardNo})}"|'>글쓰기</button>-->

	</div>
	<!-- 게시판 등록 -->
		<div class="text-center">
			<form name="insertBodsCfig" th:action="@{/board/bodsCfig}"
				method="post">
				<!-- 게시판 등록 -->
				<h3>게시판 등록</h3>
				<input type="hidden" id="boardNo" name="boardNo"
					th:value="${param.boardNo}">
				<input type="text" name="name" placeholder="게시판이름">
				<input type="text" name="subject" placeholder="말머리">
				<input type="text" name="readAuth" placeholder="읽기권한">
				<input type="text" name="writeAuth" placeholder="쓰기권한">
				<input type="text" name="commentAuth" placeholder="댓글권한">
				<input type="hidden" name="content" placeholder="등록시간">
				<button type="button" id="btninsert">게시판등록</button>
				
			</form>
		</div>
	
	
	<script>
	//제이쿼리 객체 생성
	$('tbody > tr').on('click', function(event) {
		console.log(event.currentTarget);
		let trTag = event.currentTarget;
		let boardNo = $(trTag).data('boardNo');
		let url = `/board/bodsCfigInfo?boardNo=1`;
		location.href = url;
	});
	
	
	
	
		// 게시판 등록
		$("#btninsert").on('click', boardInsertHandler);
		function boardInsertHandler() {


			let name = $('form [name="name"]');
			if (name.val() == '') {
				alert('게시판이름이 입력되지 않았습니다.');
				content.focus();
				return;
			}
			
			let subject = $('form [name="subject"]');
			if (subject.val() == '') {
				alert('말머리가 입력되지 않았습니다.');
				content.focus();
				return;
			}
			
			let readAuth = $('form [name="readAuth"]');
			if (readAuth.val() == '') {
				alert('읽기권한이 입력되지 않았습니다.');
				readAuth.focus();
				return;
			}
			
			let writeAuth = $('form [name="writeAuth"]');
			if (writeAuth.val() == '') {
				alert('쓰기권한이 입력되지 않았습니다.');
				writeAuth.focus();
				return;
			}
			
			let commentAuth = $('form [name="commentAuth"]');
			if (commentAuth.val() == '') {
				alert('댓글권한이 입력되지 않았습니다.');
				commentAuth.focus();
				return;
			}

			//document.insertBodsComts.submit();
			console.log($(document.insertBodsComts).serialize());

			//등록아작스
			$.ajax({
				type : 'post',
				url : '/board/bodsCfig',
				data : $(document.insertBodsCfig).serialize(),
				success : function(data) {
					location.reload()

				},
				error : function(request, status, error) {
					//alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				}

			});
			alert('게시판이 등록되었습니다.');
		}

	</script>
</div>