<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	
	<form th:action="@{/board/bodsCfigUpdate}" method="post"
		enctype="multipart/form-data" th:object="${bodsCfig}" name="updateForm">
		<input type="hidden" id="boardNo"	th:field="*{boardNo}">
		<h3>게시판 수정 페이지</h3>
		
		<div>
		   <input type="hidden" id="boardNo" >
		</div>
		
	
		<div>
			<label for="name">게시판명</label> <input type="text" id="name"
				th:field="*{name}">
		</div>
		<div>
			<label for="subject">말머리</label>
			<input type="text" id="subject" th:field="*{subject}">
		</div>
		<div>
			<input type="hidden" id="writer" th:field="*{readAuth}">
		</div>
		<div>
			<input type="hidden" id="writer" th:field="*{writeAuth}">
		</div>
		<div>
			<input type="hidden" id="writer" th:field="*{commentAuth}">
		</div>
		
		
		<div>
			<button type="button" id="updateBtn" th:onclick='|location.href="@{/board/bodsCfig}"|'>저장</button>
		</div>
	</form>
	<script>
		$('#updateBtn').on('click', updateAjax);

		function updateAjax(event){
			// 1) 보낼 데이터 가져오기
			// alert('작성일자가 입력되지 않았습니다.');
			// console.log("===================================");
			let dataObj = getFormData();
			// console.log(dataObj);
			// 2) AJAX
			// console.log("===================================");
			// console.log(dataObj);
			// return;
			$.ajax("/board/bodsCfigUpdate", {
				type : 'post',  //method
				//data : dataObj	// 객체 => QueryString
				
				//JOSN : @RequestBody
				contentType : 'application/json',
				data:JSON.stringify(dataObj)
			})
			.done((data)=>{
				console.log(data);
				if(data.result){
					alert('성공적으로 수정되었습니다.');
				}else{
					alert('수정되지 않았습니다.');
				}
				
			})
			.fail((err)=>console.log(err));
		}
	

		function getFormData(){
			let formAry = $('form[name="updateForm"]').serializeArray();
			/*
			[ { name : "employeeId", value : "100"},
				{ name : "lastName",  value : "King"},
				 ... ]
			*/

			let formObj = {};
			$.each(formAry, function(idx, tag){
					// tag) { name : "employeeId", value : "100"}
					formObj[tag.name] = tag.value;
					//formObj["employeeId"] = "100";
			});

			return formObj; /*{ "employeeId" : 100, "lastName" : "King", ...} */ 
		}
	</script>
</div>