<th:block xmlns:th="https://www.thymeleaf.org/" th:fragment="sidebar">
	<ul id="sidebarnav" class="pt-4">
		<!-- ------------------------------------ 진행 중인 전자결재 ------------------------------------- -->
		<li class="sidebar-item"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			 th:href="@{/approvals/onProcess}" aria-expanded="false"> <i
				class="mdi mdi-receipt"></i> <span class="hide-menu"> 진행 중인
					전자결재 </span></a>
			<ul aria-expanded="false" class="collapse first-level">
				<li class="sidebar-item"><a  th:href="@{/approvals/onProcess/emps}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 대기 </span></a></li>
				<li class="sidebar-item"><a th:href="@{/approvals/onProcess/emps}"
				 class="sidebar-link"> <i
						class="mdi mdi-note-outline"></i> <span class="hide-menu">
							진행 </span></a></li>
				<li class="sidebar-item"><a th:href="@{/approvals/onProcess/emps}"
				 class="sidebar-link"> <i
						class="mdi mdi-note-outline"></i> <span class="hide-menu">
							완료 </span></a></li>
			</ul></li>
			<!-- ------------------------------문서함------------------------------------- -->
		<li class="sidebar-item"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			th:href="@{/approvals/approvalList}" aria-expanded="false"> <i
				class="mdi mdi-receipt"></i> <span class="hide-menu"> 문서함 </span></a>
			<ul aria-expanded="false" class="collapse first-level">
				<li class="sidebar-item"><a th:href="@{/approvals/approvalList}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 전체 </span></a></li>
				<li class="sidebar-item"><a th:href="@{/approvals/approvalList/emps}"
				 class="sidebar-link"> <i
						class="mdi mdi-note-outline"></i> <span class="hide-menu">
							기안 </span></a></li>
				<li class="sidebar-item"><a th:href="@{/approvals/approvalList/emps}"
				 class="sidebar-link"> <i
						class="mdi mdi-note-outline"></i> <span class="hide-menu">
							진행 </span></a></li>
				<li class="sidebar-item"><a th:href="@{/approvals/approvalList/emps}"
				 class="sidebar-link"> <i
						class="mdi mdi-note-outline"></i> <span class="hide-menu">
							반려 </span></a></li>
			</ul></li>
		<!-- ------------------------------템플릿 관리----------------------------------------- -->
		<li class="sidebar-item"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			href="javascript:void(0)" aria-expanded="false"> <i
				class="mdi mdi-receipt"></i> <span class="hide-menu"> 템플릿 관리
			</span></a>
			<ul aria-expanded="false" class="collapse first-level">
				<li class="sidebar-item"><a
					th:href="@{/approvals/tempList}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 등록된 템플릿 </span></a></li>
				<li class="sidebar-item"><a
					th:href="@{/approvals/createTempForm}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 새 템플릿 생성 </span></a></li>
			</ul></li>
	</ul>
</th:block>