<input type="hidden" id="userId" value="">
<th:block xmlns:th="https://www.thymeleaf.org/" th:fragment="sidebar">
	<ul id="sidebarnav" class="pt-4">
		<!-- -------------------------------기안하기----------------------------------------------- -->
		<li class="sidebar-item"><a
			class="sidebar-link waves-effect waves-dark"
			th:href="@{/approvals/createApprForm}" aria-expanded="false"
			id="createBtn"> <i class="mdi mdi-calendar-plus"></i> <span
				class="hide-menu">기안하기</span>
		</a></li>
		<!-- ------------------------------------ 진행 중인 전자결재 ------------------------------------- -->
		<li class="sidebar-item"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			href="javascript:void(0)" aria-expanded="false">
				<i class="mdi mdi-receipt"></i> <span class="hide-menu"> 진행
					중인 전자결재 </span>
		</a>
			<ul aria-expanded="false" class="collapse first-level">
				<li class="sidebar-item"><a
					th:href="@{/approvals/myApprList/a1}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 대기 </span></a></li>
				<li class="sidebar-item"><a
					th:href="@{/approvals/myApprList/a2}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 진행 </span></a></li>
				<li class="sidebar-item"><a
					th:href="@{/approvals/myApprList/a3}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 승인 완료 </span></a></li>
						<li class="sidebar-item"><a
					th:href="@{/approvals/myApprList/a4}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 반려 완료 </span></a></li>
			</ul></li>
		<!-- ------------------------------문서함------------------------------------- -->
		<li class="sidebar-item"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			href="javascript:void(0)" aria-expanded="false"> <i
				class="mdi mdi-receipt"></i> <span class="hide-menu"> 문서함 </span></a>
			<ul aria-expanded="false" class="collapse first-level">
				<li class="sidebar-item"><a
					th:href="@{/approvals/approveList/all}" class="sidebar-link"> <i
						class="mdi mdi-note-outline"></i> <span class="hide-menu">
							전체 </span></a></li>
				<li class="sidebar-item"><a
					th:href="@{/approvals/approveList/drafted}" class="sidebar-link">
						<i class="mdi mdi-note-outline"></i> <span class="hide-menu">
							기안 </span>
				</a></li>
				<li class="sidebar-item"><a
					th:href="@{/approvals/approveList/approved}" class="sidebar-link">
						<i class="mdi mdi-note-outline"></i> <span class="hide-menu">
							승인 </span>
				</a></li>
				<li class="sidebar-item"><a
					th:href="@{/approvals/approveList/denied}" class="sidebar-link">
						<i class="mdi mdi-note-outline"></i> <span class="hide-menu">
							반려 </span>
				</a></li>
			</ul></li>
		<!-- ------------------------------템플릿 관리----------------------------------------- -->
		<li class="sidebar-item"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			href="javascript:void(0)" aria-expanded="false"> <i
				class="mdi mdi-receipt"></i> <span class="hide-menu"> 템플릿 관리
			</span></a>
			<ul aria-expanded="false" class="collapse first-level">
				<li class="sidebar-item"><a th:href="@{/approvals/tempList}"
					class="sidebar-link"> <i class="mdi mdi-note-outline"></i> <span
						class="hide-menu"> 등록된 템플릿 </span></a></li>
				<li class="sidebar-item"><a
					th:href="@{/approvals/createTempForm}" class="sidebar-link"> <i
						class="mdi mdi-note-outline"></i> <span class="hide-menu">
							새 템플릿 생성 </span></a></li>
			</ul></li>
	</ul>
</th:block>
<script>
	const userId = '[[${session.userEmpNo}]]';
	var userEmpNo = $('#userId').val(userId);
</script>