<th:block xmlns:th="https://www.thymeleaf.org/" th:fragment="sidebar">
	<ul id="sidebarnav" class="pt-4">
		<li class="sidebar-item">
			<a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"> 
				<i class="mdi mdi-receipt"></i> 
				<span class="hide-menu">게시판</span>
			</a>
			<ul aria-expanded="false" class="collapse first-level">
			    <li th:each="board : ${bodsCfigList}" class="sidebar-item">
			        <a th:href="@{/board/bodsList(boardNo=${board.boardNo})}" class="sidebar-link">
			            <i class="mdi mdi-note-outline"></i> 
			            <span class="hide-menu" th:text="${board.name}"></span>
			        </a>
			    </li>
			</ul>
		</li>
		<li class="sidebar-item" th:if="${menuAuth.contains('board')}">
			<a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"> 
				<i class="mdi mdi-account-circle"></i> 
				<span class="hide-menu"> 관리자페이지 </span>
			</a>
			<ul aria-expanded="false" class="collapse first-level">
				<li class="sidebar-item">
					<a th:href="@{/board/bodsCfig}" class="sidebar-link">
						<i class="mdi mdi-clipboard-text"></i> 
						<span class="hide-menu">게시판관리</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</th:block>