<th:block xmlns:th="https://www.thymeleaf.org/" th:fragment="sidebar">

	<ul id="sidebarnav" class="pt-4">
		<!-- 개인 캘린더 섹션 -->
		<li class="sidebar-item" id="personalCalendar"><a
			class="sidebar-link waves-effect waves-dark" href="javascript:(0);"
			aria-expanded="false"> <i class="mdi mdi-calendar-check"></i> <span
				class="hide-menu">내 캘린더</span>
		</a></li>

		<!-- 공유 캘린더 섹션 -->
		<li class="sidebar-item" id="sharedCalendar">
			<a class="sidebar-link has-arrow waves-effect waves-dark"
				href="javascript:void(0)" aria-expanded="false">
				 <i class="mdi mdi-calendar-multiple-check"></i>
				 <span class="hide-menu">공유캘린더</span>
			</a> 
		<a class="sidebar-link waves-effect waves-dark"
			href="javascript:void(0)" id="addSharedCalendarBtn"> <i
				class="mdi mdi-plus-circle-outline"></i> 공유 캘린더 추가
		</a>
			<ul id="sharedCalendarList" aria-expanded="false"
				class="collapse first-level">
				<!-- 동적으로 생성될 공유 캘린더 리스트 -->
			</ul>
		</li>

		<!-- 프로젝트 캘린더 섹션 -->
		<li class="sidebar-item" id="projectCalendar"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			href="javascript:void(0)" aria-expanded="false"> <i
				class="mdi mdi-calendar-range"></i> <span class="hide-menu">프로젝트캘린더</span>
		</a>
			<ul id="projectCalendarList" aria-expanded="false"
				class="collapse first-level">
				<!-- 동적으로 생성될 프로젝트 캘린더 리스트 -->
			</ul></li>

		<!-- 휴지통 -->
		<li class="sidebar-item" id="wasteCalendar"><a
			class="sidebar-link has-arrow waves-effect waves-dark"
			href="javascript:void(0)" aria-expanded="false"> <i
				class="mdi mdi-delete"></i> <span class="hide-menu">휴지통</span>
		</a>
			<ul id="wasteCalendarList" aria-expanded="false"
				class="collapse first-level">
				<!-- 쓰레기통 리스트 동적으로 추가 -->
			</ul></li>
	</ul>


	<!-- 공유 캘린더 생성 모달 -->
	<div id="sharedCalendarModal" class="modal">
		<div class="modal-content">
			<h2>공유 캘린더</h2>
			<form id="sharedCalendarForm">
				<!-- 캘린더 이름 입력 -->
				<div class="form-group">
					<label for="sharedCalendarName">캘린더 이름</label> <input type="text"
						id="sharedCalendarName" placeholder="캘린더 이름 입력" required>
				</div>

				<!-- 색상 선택 -->
				<div class="form-group">
					<label>색깔 선택</label>
					<div id="colorPalette" class="color-selection">
						<input type="hidden" id="insertCalColor" />
						
						<input type="radio" name="color" value="indianred" id="indianred"> 
						<label for="indianred" style="background-color: indianred;"></label> 
						
						<input type="radio" name="color" value="lightcoral" id="lightcoral"> 
						<label for="lightcoral" style="background-color: lightcoral;"></label> 
						
						<input type="radio" name="color" value="brown" id="brown"> 
						<label for="brown" style="background-color: brown;"></label> 
						
						<input type="radio" name="color" value="slateblue" id="slateblue"> 
						<label for="slateblue" style="background-color: slateblue;"></label> 
						
						<input type="radio" name="color" value="skyblue" id="skyblue"> 
						<label for="skyblue" style="background-color: skyblue;"></label> 
						
						<input type="radio" name="color" value="cadetblue" id="cadetblue"> 
						<label for="cadetblue" style="background-color: cadetblue;"></label>
						
						<input type="radio" name="color" value="darkslategray" id="darkslategray"> 
						<label for="darkslategray" style="background-color: darkslategray;"></label> 
						
						
						
						<input type="radio" name="color" value="slategray" id="slategray"> 
						<label for="slategray" style="background-color: slategray;"></label> 
					</div>
				</div>

				<!-- 공유 대상 -->
				<div class="form-group">
					<label for="sharedCalendarDeptList">공유 대상</label>
					<div class="team-selection-horizontal">
						<!-- 부서 목록 -->
						<ul id="sharedCalendarDeptList" class="dept-list"></ul>

						<!-- 사원 목록 -->
						<div id="employeeContainer" class="employee-list"></div>
					</div>
				</div>

				<!-- 참여자 리스트 -->
				<div class="form-group">
					<label for="selectedParticipantsList">참여자</label>
					<ul id="selectedParticipantsList"
						class="selected-participants-list"></ul>
				</div>


				<!-- 버튼 영역 -->
				<div class="modal-buttons">
					<button type="submit" class="btn btn-primary">저장</button>
					<button type="button" id="cancelSharedCalendar"
						class="btn btn-secondary" onclick="resetModal()">취소</button>
				</div>
			</form>
		</div>
	</div>

	<!-- 휴지통에서 캘린더 삭제/복원 모달 -->
	<div id="trashCalendarModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2>캘린더 삭제/복원</h2>

			<!-- 휴지통 캘린더 수정 폼 -->
			<form id="trashCalendarForm">
				<input type="hidden" id="trashSelectedCalNo" value=""> <label
					for="trashCalendarName">캘린더 이름</label> <input type="text"
					id="trashCalendarName" placeholder="캘린더 이름" disabled> 
				
				<div class="modal-buttons">
					<button type="button" id="restoreCalendarBtn"
						class="btn btn-primary">복원</button>
					<button type="button" id="permanentlyDeleteBtn"
						class="btn btn-danger">삭제</button>
					<button type="button" class="close btn btn-secondary">취소</button>
				</div>
			</form>
		</div>
	</div>
	<!-- 수정 모달 -->
	<div id="editCalendarModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2>공유 캘린더 수정</h2>
			<form id="editCalendarForm">
				<!-- 캘린더 ID 숨김 필드 -->
				<input type="hidden" id="selectedCalNo" value="">

				<!-- 캘린더 이름 입력 -->
				<div class="form-group">
					<label for="editCalendarName">캘린더 이름</label> <input type="text"
						id="editCalendarName" placeholder="캘린더 이름 입력" required>
				</div>

				<!-- 색상 선택 -->
				<div class="form-group">
					<label>색깔 선택</label>
					<div id="editColorPalette" class="color-selection">
						<input type="hidden" id="selColor" />
						
						<input type="radio" name="color" value="indianred" id="editIndianred">
						<label for="editIndianred" style="background-color: indianred;"></label> 
						
						<input type="radio" name="color" value="lightcoral" id="editLightcoral">
						<label for="editLightcoral" style="background-color: lightcoral;"></label>

						<input type="radio" name="color" value="brown" id="editBrown">
						<label for="editBrown" style="background-color: brown;"></label>

						<input type="radio" name="color" value="slateblue" id="editSlateblue">
						<label for="editSlateblue" style="background-color: slateblue;"></label> 
						
						<input type="radio" name="color" value="skyblue" id="editSkyblue">
						<label for="editSkyblue" style="background-color: skyblue;"></label>

						<input type="radio" name="color" value="cadetblue" id="editCadetblue">
						<label for="editCadetblue" style="background-color: cadetblue;"></label>
						
						<input type="radio" name="color" value="darkslategray" id="editDarkslategray">
						<label for="editDarkslategray" style="background-color: darkslategray;"></label>

						
						<input type="radio" name="color" value="slategray" id="editSlategray">
						<label for="editSlategray" style="background-color: slategray;"></label> 
					</div>
				</div>
				<!-- 공유 대상 -->
				<div class="form-group">
					<label for="editSharedCalendarDeptList">공유 대상</label>
					<div class="team-selection-horizontal">
						<!-- 부서 목록 -->
						<ul id="editSharedCalendarDeptList" class="dept-list"></ul>

						<!-- 사원 목록 -->
						<div id="editEmployeeContainer" class="employee-list"></div>
					</div>
				</div>
				<!-- 참여자 리스트 -->
				<div class="form-group">
					<label for="editSelectedParticipantsList">참여자</label>
					<ul id="editSelectedParticipantsList"
						class="selected-participants-list"></ul>
				</div>

				<!-- 버튼 영역 -->
				<div class="modal-buttons">
					<button type="submit" class="btn btn-primary">저장</button>
					<button type="button" id="deleteBtn" class="btn btn-danger">삭제</button>
					<button type="button" id="closeBtn" class="btn btn-secondary">취소</button>
				</div>
			</form>
		</div>
	</div>



</th:block>