<th:block xmlns:th="https://www.thymeleaf.org/" th:fragment="sidebar">

<script src='../dist/js/cals/calSidebar.js'></script>
	<!--캘린더 아이콘 빈 캘린더 mdi-calendar-blank
			  쩜쩜쩜 캘린더 mdi-calendar-range
			  체크 캘린더  mdi-calendar-check 
			  더블체크 캘린더 mdi-calendar-multiple-check
			  열리 휴지통 mdi-delete-empty
			  닫긴 휴지통 mdi-delete
			  -->

	<ul id="sidebarnav" class="pt-4">

		<!-- 일정 생성 버튼 -->
    <li class="sidebar-item">
        <a class="sidebar-link waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false" id="createScheduleBtn">
            <i class="mdi mdi-calendar-plus"></i>
            <span class="hide-menu">일정 생성</span>
        </a>
    </li>
    
    
		 <!-- 개인 캘린더 -->
    <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-calendar-check"></i>
            <span class="hide-menu">개인캘린더</span>
        </a>
        <ul aria-expanded="false" class="collapse first-level" id="personalCalendarList">
            <!-- 개인 일정 목록이 여기에 동적으로 추가됩니다 -->
        </ul>
    </li>

		<!-- 공유 캘린더 -->
    <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-calendar-multiple-check"></i>
            <span class="hide-menu">공유캘린더</span>
        </a>
        <ul aria-expanded="false" class="collapse first-level" id="sharedCalendarList">
            <!-- 공유 일정 목록이 여기에 동적으로 추가됩니다 -->
        </ul>
    </li>
    
    
      <!-- 프로젝트 캘린더 -->
    <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-calendar-range"></i>
            <span class="hide-menu">프로젝트캘린더</span>
        </a>
        <ul aria-expanded="false" class="collapse first-level" id="projectCalendarList">
            <!-- 프로젝트 일정 목록이 여기에 동적으로 추가됩니다 -->
        </ul>
    </li>

		<!-- 휴지통 -->
    <li class="sidebar-item">
        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-buttons.html" aria-expanded="false">
            <i class="mdi mdi-delete"></i>
            <span class="hide-menu">휴지통</span>
        </a>
    </li>
	</ul>
</th:block>