<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<div class="page-breadcrumb">
		<div class="row">
			<div class="col-12 d-flex no-block align-items-center">
				<h4 class="page-title">프로젝트현황</h4>
				<div class="ms-auto text-end">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">
								Library</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<!-- Column -->
			<div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0"><button type="button" class="btn btn-info btn-lg"  style="float: right;">
                      프로젝트생성
                    </button></h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">번호</th>
                      <th scope="col">담당자</th>
                      <th scope="col">진행상태</th>
                      <th scope="col">마감일</th>
                    </tr>
                  </thead>
                  <tbody>                 
                  <th:block th:each="info : ${projects}">
                    <tr>
                      <th scope="row">1</th>
                      <td>[[${info.projNo}]]</td>
                      <td>[[${info.name}]]</td>
                      <td>[[${info.projNo}]]</td>
                      <td>[[${info.status}]]</td>
                    </tr>
                    </th:block>
                  </tbody>
                </table>
              </div>
              </div>
              </div>
              </div>
              
