<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<style>
textarea {
	width: 100%;
	height: 6.25em;
	border: none;
	resize: none;
}
/* 페이지 기본 스타일 */
.body-page-wrapper {
	padding: 20px;
	background-color: #f9f9f9;
	align-items: center;
}

/* Breadcrumb 스타일 */
.breadcrumb {
	background-color: #ffffff;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	height: 70px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	color: #333;
	position: relative;
}

.breadcrumb h4 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.breadcrumb-left {
	display: flex; /* flexbox로 요소 정렬 */
	flex-direction: column; /* 세로로 배치 */
	justify-content: center; /* 세로 중앙 정렬 */
}

.breadcrumb-left h4 {
	font-size: 22px;
	font-weight: bold;
	margin: 0; /* 기본 마진 제거 */
	margin-top: 2px;
}

.breadcrumb-left p {
	font-size: 14px;
	color: #666;
	margin-top: 2px;
	margin-bottom: 0;
}

.breadcrumb-right span {
	font-size: 14px;
	color: #999;
	white-space: nowrap;
	position: relative;
	top: -12px;
}

/* 카드 스타일 */
.card_memberList {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

/* 검색 기능을 위한 컨테이너 */
.search-container {
	display: flex;
	justify-content: flex-end; /* 오른쪽 정렬 */
	margin-bottom: 15px; /* 테이블과의 간격 */
}

/* 검색 입력 박스 스타일 */
#searchBox {
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 200px;
	margin-right: 10px;
}

/* 테이블 스타일 */
.memberList_table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	text-align: left;
	margin-bottom: 5px;
}

.memberList_table thead th {
	text-align: center;
	font-weight: bold;
	color: #555;
	padding: 12px;
	border-bottom: 2px solid #ddd;
	font-weight: bold;
}

.memberList_table tbody td {
	text-align: center;
	font-size: 12px;
	color: #666666;;
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	color: #333;
	white-space: nowrap; /* 텍스트가 여러 줄로 나뉘지 않고 한 줄로 유지됩니다 */
	overflow: hidden; /* 넘친 텍스트를 숨깁니다 */
	text-overflow: ellipsis; /* 넘친 텍스트는 "..."으로 표시됩니다 */
}

.memberList_table tbody tr:hover {
	background-color: #f9f9f9; /* 마우스 오버 시 행 배경색 변경 */
}

.form-select {
	border: none;
}

.pagination-and-insert-wrapper {
	display: flex;
	justify-content: space-between; /* 페이지네이션과 등록 버튼을 좌우로 배치 */
	align-items: center; /* 세로 중앙 정렬 */
	width: 100%; /* 전체 너비 사용 */
	padding: 10px;
}

.pagination-outer {
	text-align: center; /* 페이지네이션을 중앙 정렬 */
	flex-grow: 1;
}

.pagination {
	font-family: 'Ubuntu', sans-serif;
	display: inline-flex;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}

/* prev 또는 next 클래스를 가지지 않는 경우에만 배경 적용 */
.pagination li a.page-link:not(.prev):not(.next) {
	color: #333;
	background-color: #e7e7e7; /* 배경 적용 */
	font-size: 20px;
	font-weight: 500;
	line-height: 39px;
	height: 40px;
	width: 40px;
	padding: 0;
	margin: 0 5px;
	border: none;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	transition: all 0.3s ease 0s;
}

/* prev 또는 next 클래스를 가진 경우에만 적용할 스타일 (필요 시 추가) */
.pagination li a.page-link.prev, .pagination li a.page-link.next {
	background-color: transparent; /* 배경 투명 */
	color: #333;
	font-size: 20px;
	font-weight: 500;
	line-height: 39px;
	height: 40px;
	width: 40px;
	padding: 0;
	margin: 0 5px;
	border: none;
	position: relative;
	z-index: 1;
	transition: all 0.3s ease 0s;
}

/* prev 또는 next를 가지지 않는 .page-link에만 적용 */
.pagination li a.page-link:not(.prev):not(.next):hover, .pagination li a.page-link:not(.prev):not(.next):focus,
	.pagination li.active a.page-link:not(.prev):not(.next):hover,
	.pagination li.active a.page-link:not(.prev):not(.next) {
	color: #fff;
	background: transparent;
}

.pagination li a.page-link:not(.prev):not(.next):before, .pagination li a.page-link:not(.prev):not(.next):after
	{
	content: '';
	background: linear-gradient(to right, #706fd3 50%, transparent 50%);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transition: all 0.4s ease 0s;
}

.pagination li a.page-link:not(.prev):not(.next):after {
	background: linear-gradient(to right, #474787 50%, transparent 50%);
	transform: rotateY(180deg);
	top: auto;
	bottom: 0;
}

.pagination li a.page-link:not(.prev):not(.next):hover:before,
	.pagination li a.page-link:not(.prev):not(.next):focus:before,
	.pagination li.active a.page-link:not(.prev):not(.next):before,
	.pagination li a.page-link:not(.prev):not(.next):hover:after,
	.pagination li a.page-link:not(.prev):not(.next):focus:after,
	.pagination li.active a.page-link:not(.prev):not(.next):after {
	height: 85%;
	opacity: 1;
}

@media only screen and (max-width: 480px) {
	.pagination {
		font-size: 0;
		border: none;
		display: inline-block;
	}
	.pagination li {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 10px;
	}
}

button {
	padding: 5px 10px;
	background-color: #9b8df6;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

.insert-btn-container {
	text-align: right; /* 등록 버튼을 오른쪽 정렬 */
	padding-right: 10px;
}

/* 마우스 호버 시 효과 */
button:hover {
	background-color: #5a4bcf;
}

/* 추가적인 버튼 스타일링 */
button:active {
	background-color: #4839a9;
}

.none {
	display: none;
}
</style>


	<div class="body-page-wrapper">
		<div class="purple-background-container">
			<div class="breadcrumb">
				<div class="breadcrumb-left">
					<h4>프로젝트 상세 업무 템플릿</h4>
					<p>프로젝트 상세 업무 템플릿 관리 페이지 입니다.</p>
				</div>
				<div class="breadcrumb-right">
					<span>템플릿관리 > 프로젝트 상세 업무 템플릿</span>
				</div>
			</div>

			<div class="card_memberList">
				<div class="search-container">
					<input type="text" id="searchBox" placeholder="검색어를 입력하세요">
				</div>
				<table class="table table-striped table-hover table-bordered memberList_table">
					<thead>
						<tr>
							<th scope="col">템플릿 번호</th>
							<th scope="col">템플릿 명</th>
							<th scope="col">개요</th>
							<th scope="col">프로젝트 템플릿 번호</th>
							<th scope="col">중요도</th>
							<th scope="col">등록일</th>
							<th scope="col"><button th:onclick="|location.reload()|">초기화</button></th>
						</tr>
					</thead>
					<tbody th:fragment="projTempListBody">
						<th:block th:each="info : ${projects}">
							<tr>
								<td scope="row">[[${info.pdwtNo}]]</td>
								<td>[[${info.name}]]</td>
								<td>[[${info.content}]]</td>
								<td>[[${info.pwtNo}]]</td>
								<td><span class="badge rounded-pill bg-secondary"
									th:if="${info.importance == 'l1'}">낮 음</span> <span
									class="badge rounded-pill bg-info"
									th:if="${info.importance == 'l2'}">중 간</span> <span
									class="badge rounded-pill bg-success"
									th:if="${info.importance == 'l3'}">높 음</span></td>
								<td>[[${#dates.format(info.regDate, 'yyyy년 MM월 dd일')}]]</td>
								<td>
									<button type="button" class="btn btn-warning edit-btn"
										data-bs-toggle="modal" data-bs-target="#editTemplateModal"
										th:attr="data-proj-temp-no=${info.pdwtNo}">수정</button>
									<button type="button"
										class="btn btn-danger text-white delete-btn"
										th:attr="data-proj-temp-no=${info.pdwtNo}">삭제</button>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<!-- 등록 버튼 -->
				<div class="insert-btn-container">
					<button type="button" class="btn btn-info btn-lg"
						data-bs-toggle="modal" data-bs-target="#projectModal"
						style="float: right; margin-top: 10px;">상세업무 템플릿 생성</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 모달 폼 -->
	<div class="modal fade" id="projectModal" tabindex="-1"
		aria-labelledby="projectModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="projectModalLabel">상세업무 템플릿 생성</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="projectForm">
						<div class="mb-3">
							<label for="selectProjTempNo" class="form-label">업무 템플릿</label> <select
								class="form-select" name="pwtNo" id="pwtNo" required>
								<option value="" selected>선택하세요</option>
								<option th:each="temp : ${wrkproj}" th:value="${temp.pwtNo}">[[${temp.name}]]</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="taskName" class="form-label">업무 이름</label> <input
								type="text" class="form-control" name="name" id="name" required>
						</div>
						<div class="mb-3">
							<label for="taskDescription" class="form-label">업무 내용</label>
							<textarea class="form-control" name="content" id="content"
								rows="5" required></textarea>
						</div>
						<div class="mb-3">
							<label for="importance" class="form-label">중요도</label> <select
								class="form-select" name="importance" id="importance" required>
								<option value="l1">낮음</option>
								<option value="l2">중간</option>
								<option value="l3">높음</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">생성</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 수정 모달 폼 -->
	<div class="modal fade" id="editTemplateModal" tabindex="-1"
		aria-labelledby="editTemplateModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editTemplateModalLabel">상세업무 템플릿
						수정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="editTemplateForm">
						<input type="hidden" name="pdwtNo" id="editPdwtNo">
						<div class="mb-3">
							<label for="editSelectProjTempNo" class="form-label">업무
								템플릿</label> <select class="form-select" name="pwtNo" id="editPwtNo"
								required>
								<option value="" disabled>선택하세요</option>
								<option th:each="temp : ${wrkproj}" th:value="${temp.pwtNo}">
									[[${temp.name}]]</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="editInputTemplateName" class="form-label">템플릿
								명</label>
							<textarea class="form-control" name="name" id="editName" rows="5"
								required></textarea>
						</div>
						<div class="mb-3">
							<label for="editTextareaContent" class="form-label">프로젝트
								개요</label>
							<textarea class="form-control" name="content" id="editContent"
								rows="5" required></textarea>
						</div>
						<div class="mb-3">
							<label for="editInputJobType" class="form-label">중요도</label> <select
								class="form-select" name="importance" id="editImportance"
								required>
								<option value="" disabled>선택하세요</option>
								<option value="l1">낮음</option>
								<option value="l2">중간</option>
								<option value="l3">높음</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">수정</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchBox = document.getElementById('searchBox');
    
    const resetButton = document.querySelector('button');
    resetButton.addEventListener('click', function() {
        location.reload(); 
    });
    
	function updateTableData() {
	    const searchText = searchBox.value.trim();
	    
	    const baseParams = `searchText=${encodeURIComponent(searchText)}`;

	    fetch(`/project/projectDwrktemplist?${baseParams}&fragment=projDetailWorkTempListBody`, { headers: { "X-Requested-With": "XMLHttpRequest" } })
	        .then(response => response.text())
	        .then(html => {
	            const doc = new DOMParser().parseFromString(html, 'text/html');
	            const tableBody = document.querySelector('.memberList_table tbody');
	            const newBody = doc.querySelector('.memberList_table tbody');

	            if (newBody && newBody.children.length > 0) {
	                // 결과가 있는 경우 테이블에 결과를 표시합니다.
	                tableBody.innerHTML = newBody.innerHTML;
	            } else {
	                // 결과가 없는 경우 안내 메시지를 표시합니다.
	                tableBody.innerHTML = `<tr><td colspan="7">검색 결과가 없습니다.</td></tr>`;
	            }
	        });
	}


    const debounce = (func, delay) => {
        let timeout;
        return (...args) => {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), delay);
        };
    };

    const debouncedUpdateTableData = debounce(updateTableData, 300);
    searchBox.addEventListener('input', debouncedUpdateTableData);
});
function formatCurrentDate() {
    const now = new Date();
    const year = now.getFullYear();
    const month = String(now.getMonth() + 1).padStart(2, '0');
    const day = String(now.getDate()).padStart(2, '0');
    
    return `${year}년 ${month}월 ${day}일`;
}

$(document).ready(function() {
    $('#projectForm').on('submit', function(event) {
        event.preventDefault();

        $.ajax({
            url: '/project/projectDwrktempinsert', 
            type: 'POST',
            contentType: 'application/json', 
            data: JSON.stringify({
                pwtNo: $('#pwtNo').val(),
                name: $('#name').val(), 
                content: $('#content').val(), 
                pwtNo: $('#pwtNo').val(), 
                importance: $('#importance').val() 
            }),
            
            success: function(response) {
                let statusClass;
                let statusText;
                switch (response.importance) {
                    case 'l1':
                        statusClass = 'bg-secondary';
                        statusText = '낮 음';
                        break;
                    case 'l2':
                        statusClass = 'bg-info';
                        statusText = '중 간';
                        break;
                    case 'l3':
                        statusClass = 'bg-success';
                        statusText = '높 음';
                        break;
                }
                $('table tbody').append(`
                    <tr>
                        <td scope="row">${response.pdwtNo}</td>
                        <td>${response.name}</td>
                        <td>${response.content}</td>
                        <td>${response.pwtNo}</td>
                        <td>
                        <span class="badge rounded-pill ${statusClass}">${statusText}</span>
                    	</td>
                        <td>${formatCurrentDate()}</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editProjectModal" th:attr= data-proj-temp-no='${response.pdwtNo}'>수정</button>
                            <button type="button" class="btn btn-danger text-white delete-btn" data-proj-temp-no="${response.pdwtNo}">삭제</button>
                        </td>
                    </tr>
                `);
                alert('상세업무 템플릿이 성공적으로 생성되었습니다!');
                $('#projectModal').modal('hide');
                $('#projectForm')[0].reset(); // 폼 리셋
            },
            error: function(xhr, status, error) {
                alert('상세업무 템플릿 생성에 실패했습니다: ' + error);
            }
        });
    });
});
    // 프로젝트 삭제 AJAX
    $(document).on('click', '.delete-btn', function() {
        const pdwtNo = $(this).data('proj-temp-no');

        if (confirm('정말로 이 프로젝트를 삭제하시겠습니까?')) {
            $.ajax({
                url: `/project/projectdwrktempdelete/${pdwtNo}`,
                type: 'DELETE',
                success: function(response) {
                    alert('프로젝트가 성공적으로 삭제되었습니다!');
                    $(`button[data-proj-temp-no="${pdwtNo}"]`).closest('tr').remove();
                },
                error: function(xhr, status, error) {
                    alert('프로젝트 삭제에 실패했습니다: ' + error);
                }
            });
        }
    });
    //수정 모달 폼
    $(document).on('click', '.btn-warning', function() {
        const pdwtNo = $(this).data('proj-temp-no');
        //console.log(pdwtNo); 

        $.ajax({
            url: `/project/projectDwrktempinfo/${pdwtNo}`, 
            type: 'GET',
            success: function(response) {
               
                $('#editPdwtNo').val(response.pdwtNo); 
                $('#editPwtNo').val(response.pwtNo);
                $('#editName').val(response.name);
                $('#editContent').val(response.content);
                $('#editImportance').val(response.importance);

                $('#editTemplateModal').modal('show');
            },
            error: function(xhr, status, error) {
                alert('프로젝트 정보를 가져오는 데 실패했습니다: ' + error);
            }
        });
    });
    function getCurrentDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
        const day = String(today.getDate()).padStart(2, '0');
        return `${year}년 ${month}월 ${day}일`;
    }
 // 수정 처리 AJAX
    $(document).on('submit', '#editTemplateForm', function(event) {
        event.preventDefault(); 

        const pdwtNo = $('#editPdwtNo').val();
        
        const updatedData = {
            pdwtNo: pdwtNo,
            pwtNo: $('#editPwtNo').val(),
            name: $('#editName').val(),
            content: $('#editContent').val(),
            importance: $('#editImportance').val()
        };

        $.ajax({
            url: '/project/projectDwrktempupdate',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(updatedData),
            success: function(response) {
                let statusClass;
                let statusText;
                
                switch (response.importance) {
                    case 'l1':
                        statusClass = 'bg-secondary';
                        statusText = '낮 음';
                        break;
                    case 'l2':
                        statusClass = 'bg-info';
                        statusText = '중 간';
                        break;
                    case 'l3':
                        statusClass = 'bg-success';
                        statusText = '높 음';
                        break;
                    default:
                        statusClass = '';
                        statusText = '';
                }
                if (response.status === 'success') {
                    const row = $(`button[data-proj-temp-no="${pdwtNo}"]`).closest('tr');
                    row.find('td:nth-child(2)').text(updatedData.name);
                    row.find('td:nth-child(3)').text(updatedData.content);
                    row.find('td:nth-child(4)').text(updatedData.pwtNo);
                    
                    // HTML 업데이트 부분 수정
                    const badgeHtml = `<span class="badge rounded-pill ${statusClass}">${statusText}</span>`;
                    console.log("Badge HTML:", badgeHtml); // 디버깅 로그 추가
                    row.find('td:nth-child(5)').html(badgeHtml);
                    const currentDate = getCurrentDate();
                    row.find('td:nth-child(6)').html(currentDate); // 등록일 업데이트
                    
                    alert('프로젝트가 성공적으로 수정되었습니다!');
                    $('#editTemplateModal').modal('hide');
                    $('#editTemplateModal')[0].reset();
                } else {
                    alert('수정에 실패했습니다: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('수정 요청에 실패했습니다: ' + error);
            }
        });
    });


</script>
