<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<div class="body-page-wrapper">
		<div class="purple-background-container">
			 <div class="breadcrumb">
				<div class="breadcrumb-left">
					<h4>조직관리</h4>
					<nav>
						<a href="#position-section"> 직위관리</a> | <a href="#job-section">직무관리</a>
						| <a href="#org-section">조직관리</a>
					</nav>
				</div>
				<div class="breadcrumb-right">
					<span>관리자 페이지 > 조직관리</span>
				</div>
			</div>

			<!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

			<div class="card_posi" id="position-section">
				<div class="inline-container">
					<h4>직위 관리</h4>
					<button onclick="addLevel()">
						<i class="fas fa-plus"></i>
					</button>
				</div>

				<table class="position-table" id="positionTable">
					<tr>
						<th>Level</th>
						<th>직위</th>
						<th></th>
					</tr>
				</table>
				<div class="button-container">
					<button onclick="saveData()">저장</button>
				</div>
			</div>

			<!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->

			<div class="card_jobs" id="job-section">
				<div class="inline-container">
					<h4> 직무 관리 </h4>
					<button onclick="addJob()">
						<i class="fas fa-plus"></i>
					</button>
				</div>

				<div class="inline-jobs-container" id="jobsTable"></div>

				<div class="button-container">
					<button onclick="saveJobs()">저장</button>
				</div>
			</div> 


			<!-- ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── -->


			<div class="card_org" id="org-section">
				<div class="inline-container">
					<h4> 조직 관리 </h4>
				</div>

				<ol id="orgMap" class="org_map"></ol>

				<div class="button-container">
					<button onclick="saveDept()">저장</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 모달 구조 -->
	<div class="modal" id="deptModal" 
		aria-labelledby="deptModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deptModalLabel">부서 정보</h5>
					<input type="hidden" name="deptNo" id="deptNo">
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="managerInfo">
						<p>조직장</p>
						<ul id="managerInfoItems"></ul>
					</div>
					<!-- 사원 목록 표시 영역 -->
					<div id="employeeList">
						<p>부서에 속한 사원 목록</p>
						<ul id="employeeListItems"></ul>
						<!-- 사원 리스트가 동적으로 추가됨 -->
					</div>
		
					<!-- 부서장 지정 버튼 -->
					<button id="setManagerBtn">부서장 지정</button>
				</div>
			</div>
		</div>
	</div>


</div>

<link rel="stylesheet" href="/dist/css/hrm/hrm.css">
<script src="/dist/js/hrm/posi.js"></script>
<script src="/dist/js/hrm/jobs.js"></script> 
<script src="/dist/js/hrm/dept.js"></script>