<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">


	<div class="body-page-wrapper">
		<div class="purple-background-container">
			<div class="breadcrumb">
				<div class="breadcrumb-left">
					<h4>사원관리</h4>
					<p>전체 사원의 관리 페이지 입니다.</p>
				</div>
				<div class="breadcrumb-right">
					<span>관리자 페이지 > 사원관리</span>
				</div>
			</div>

			<div class="card_memberList">
				<div class="search-container">
					<input type="text" id="searchBox" placeholder="검색어를 입력하세요">
				</div>
				<table class="memberList_table">
					<thead>
						<tr>
							<th scope="col">이름</th>
							<th scope="col">연락처</th>
							<th scope="col">이메일</th>
							<th scope="col"><select class="form-select" name="deptName"
								id="deptName">
									<option value="" selected>조직</option>
									<option th:each="dept : ${departments}" th:value="${dept}"
										th:text="${dept}"></option>
							</select></th>
							<th scope="col"><select class="form-select" name="jobName"
								id="jobName">
									<option value="" selected>직무</option>
									<option th:each="job : ${jobs}" th:value="${job}"
										th:text="${job}"></option>
							</select></th>
							<th scope="col"><select class="form-select" name="posiName"
								id="posiName">
									<option value="" selected>직위</option>
									<option th:each="posi : ${positions}" th:value="${posi}"
										th:text="${posi}"></option>
							</select></th>
							<th scope="col"><select class="form-select" name="workType"
								id="workType">
									<option value="" selected>상태</option>
									<option th:each="work : ${workType}" th:value="${work}"
										th:text="${work}"></option>
							</select></th>
							<th scope="col"><button th:onclick="|location.reload()|">초기화</button></th>
						</tr>
					</thead>
					<tbody th:fragment="memberListBody">
						<th:block th:each="info : ${members}">
							<tr th:data-dept="${info.deptName}" th:data-job="${info.jobName}"
								th:data-posi="${info.posiName}"
								th:data-worktype="${info.workType}">
								<td th:text="${info.empName}"></td>
								<td th:text="${info.tel}"></td>
								<td th:text="${info.email}"></td>
								<td><span th:text="${info.deptName}"></span> <span
									th:if="${info.isMgr == 'Y'}" style="color: gold;">★</span></td>
								<td th:text="${info.jobName}"></td>
								<td th:text="${info.posiName}"></td>
								<td th:text="${info.workType}"></td>
								<td>
									<button type="button"
										th:onclick="|location.href='@{/memberUpdate(empNo=${info.empNo})}'|">보기</button>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<div class="pagination-and-insert-wrapper" th:fragment="memberListPagination">
					<div class="pagination-outer">
						<nav aria-label="Page navigation example">
							<ul class="pagination"> 
								<li class="page-item" th:classappend="${!pageing.prev} ? 'none'">
									<a class="page-link prev"
									th:href="@{/memberList(page=${pageing.startPage - 1})}"
									tabindex="-1" aria-disabled="${!pageing.prev}"> <i
										class="mdi mdi-arrow-left-bold"></i>
								</a>
								</li>
								<li class="page-item"
									th:each="i : ${#numbers.sequence(pageing.startPage, pageing.endPage)}"
									th:classappend="${i == pageing.page} ? 'active'"><a
									class="page-link" th:href="@{/memberList(page=${i})}"
									th:classappend="${i == pageing.page} ? 'active' : ''">[[${i}]]</a>
								</li>
								<li class="page-item" th:classappend="${!pageing.next} ? 'none'">
									<a class="page-link next"
									th:href="@{/memberList(page=${pageing.endPage + 1})}"> <i
										class="mdi mdi-arrow-right-bold"></i>
								</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- 등록 버튼 -->
					<div class="insert-btn-container">
						<button type="button"
							th:onclick="|location.href='@{/memberInsert}'|">등록</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/dist/css/hrm/hrm.css">
<script src="/dist/js/hrm/memberList.js"></script>