<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<style>
/* 페이지 기본 스타일 */
.body-page-wrapper {
	padding: 20px;
	background-color: #f9f9f9;
	align-items: center;
}

/* Breadcrumb 스타일 */
.breadcrumb {
	background-color: #ffffff;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	height: 70px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	color: #333;
	position: relative;
}

.breadcrumb h4 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.breadcrumb-left {
	display: flex; /* flexbox로 요소 정렬 */
	flex-direction: column; /* 세로로 배치 */
	justify-content: center; /* 세로 중앙 정렬 */
}

.breadcrumb-left h4 {
	font-size: 22px;
	font-weight: bold;
	margin: 0; /* 기본 마진 제거 */
	margin-top: 2px;
}

.breadcrumb-left p {
	font-size: 14px;
	color: #666;
	margin-top: 2px;
	margin-bottom: 0;
}

.breadcrumb-right span {
	font-size: 14px;
	color: #999;
	white-space: nowrap;
	position: relative;
	top: -12px;
}

.card_memberInsert {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.insert-btn {
	display: flex;
	justify-content: flex-end; /* 오른쪽으로 정렬 */
	margin-right: 20px; /* 필요에 따라 여백 조정 */
}

button {
	padding: 5px 10px;
	margin-left: 5px;
	background-color: #9b8df6;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

/* 마우스 호버 시 효과 */
button:hover {
	background-color: #5a4bcf;
}

/* 추가적인 버튼 스타일링 */
button:active {
	background-color: #4839a9;
}

/* 에러 메시지 스타일 */
.error {
	border-color: red;
}

/* 부모 요소에 relative를 설정 */
.form-group {
	position: relative;
}

/* 아이콘을 입력 필드 옆으로 배치 */
.error-icon {
	color: red;
	font-size: 24px;
	display: inline-block;
	position: absolute; /* 절대 위치 */
	top: 50%; /* 입력 필드의 중간에 위치하도록 */
	transform: translateY(-50%); /* 수직으로 중앙 정렬 */
	right: -20px; /* 입력 필드의 오른쪽 끝에서 약간 떨어지게 */
	z-index: 1; /* 겹치지 않도록 설정 */
}

.error-message {
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

/* 필수 입력값 누락 시 아이콘 */
.required-field {
	border: 2px solid red;
}

.field-icon {
	color: red;
	margin-left: 5px;
}
/*
#content + iframe {
	height : 500px !important;
}
*/
</style>
	<div class="body-page-wrapper">
		<div class="purple-background-container">
			<div class="breadcrumb">
				<div class="breadcrumb-left">
					<h4>전자결재 기안</h4>
					<p>전자결재 기안 페이지 입니다.</p>
				</div>
				<div class="breadcrumb-right">
					<span>전자결재관리 > 전자결재 기안</span>
				</div>
			</div>
			<div class="card_memberInsert">
				<div class="col-md-9">
					<form class="form-horizontal" name="insertForm" action="createAppr"
						method="post">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" /> <input type="hidden"
							name="drafterEmpNo" value="">

						<div class="form-group row">
							<label for="title"
								class="col-sm-3 text-end control-label col-form-label">제목</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="approvalTitle"
									name="title" placeholder="전자결재 제목을 입력해주세요" />
							</div>
						</div>
						<div class="form-group row table-responsive">
							<label for="apprerTable"
								class="col-sm-3 text-end control-label col-form-label">결재자</label>
							<div class="col-sm-9">
								<table id="apprerTable"
									class="table table-striped table-bordered">
									<thead>
										<tr>
											<td></td>
											<!-- ------------------- -->
											<td style="text-align: center;">
												<button type="button" class="btn btn-warning modalBtn" data-seq="1"
													data-bs-target="#approversSelect" data-bs-toggle="modal">선택</button>
											</td>
											<!-- ------------------- -->
											<td style="text-align: center;">
												<button type="button" class="btn btn-warning modalBtn" data-seq="2"
													data-bs-target="#approversSelect" data-bs-toggle="modal">선택</button>
											</td>
											<!-- ------------------- -->
											<td style="text-align: center;">
												<button type="button" class="btn btn-warning modalBtn" data-seq="3"
													data-bs-target="#approversSelect" data-bs-toggle="modal">선택</button>
											</td>
											<!-- ------------------- -->
											<td style="text-align: center;">
												<button type="button" class="btn btn-warning modalBtn" data-seq="4"
													data-bs-target="#approversSelect" data-bs-toggle="modal">선택</button>
											</td>
										</tr>
									</thead>
									<tbody>
										<tr style="text-align: center;">
											<td>이름</td>
											<td><span></span></td>
											<td><span></span></td>
											<td><span></span></td>
											<td><span></span></td>
										</tr>
										<tr style="text-align: center;">
											<td>직함</td>
											<td><span></span></td>
											<td><span></span></td>
											<td><span></span></td>
											<td><span></span></td>
										</tr>
									</tbody>
								</table>

								<input type="hidden" name="approvers[0].empNo" value="">
								<input type="hidden" name="approvers[1].empNo" value="">
								<input type="hidden" name="approvers[2].empNo" value="">
								<input type="hidden" name="approvers[3].empNo" value="">

								<input type="hidden" name="approvers[0].sort" value="1">
								<input type="hidden" name="approvers[1].sort" value="2">
								<input type="hidden" name="approvers[2].sort" value="3">
								<input type="hidden" name="approvers[3].sort" value="4">
							</div>
						</div>
						<div class="form-group row">
							<label for="selectContent"
								class="col-sm-3 text-end control-label col-form-label">템플릿 선택</label>
							<div class="col-sm-9">
									<select id="selectContent" class="form-select">
										<option selected disabled>==템플릿 선택==</option>
										<option th:each="temps : ${tempInfo}"
											th:value="${temps.eatNo}">[[${temps.eatNo}]]/[[${temps.title}]]</option>
									</select>
								<input type="hidden" id="eatNo" name="eatNo" />
							</div>
						</div>
						<div class="form-group row">
							<label for="content"
								class="col-sm-3 text-end control-label col-form-label">내용</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="content" name="content"></textarea>
							</div>
						</div>
						<!-- 등록 버튼 -->
						<div class="insert-btn">
							<button type="button" id="createButton" class="btn btn-primary">기안</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js"
		charset="utf-8"></script>
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- 모달 -->
	<div class="modal fade" id="approversSelect" tabindex="-1"
		aria-labelledby="approversModalLabel" aria-hidden="true">
		<!-- 선택한 option의 seq를 저장하기 위한 태그 -->
		<input type="hidden" id="seq">
		<!-- --------------------------------- -->
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">결재자 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="apprForm">
						<div class="mb-3">
							<label for="selectApprovers" class="form-label">결재자 선택</label>
						</div>
						<div class="mb-3">
							<select id="selectApprovers" class="form-select">
								<option selected disabled>==결재자 선택==</option>
								<option th:each="appverInfo : ${employeesInfo}"
									th:value="${appverInfo.empNo}">[[${appverInfo.empName}]]/[[${appverInfo.posiName}]]</option>
							</select>
						</div>
						<button type="button" class="btn btn-primary" id="modalSubmit">결재자
							선택</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- -----------------모달----------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<!-- ------------------------------------- -->
	<script>
	const userEmpNo = '[[${session.userEmpNo}]]';
	// SmartEditor 참조를 위한 배열
	var oEditors = [];
	function smartEditor() {
		console.log("Naver SmartEditor");
		nhn.husky.EZCreator.createInIFrame({
			oAppRef : oEditors,
			elPlaceHolder : "content",
			sSkinURI : "/smarteditor/SmartEditor2Skin.html",
			fCreator : "createSEditor2"
		});
	}

//템플릿에 저장되어 있는 data 가지고 오기
	$(document).ready(function() {
		smartEditor();
				// 템플릿 선택 시 내용 불러오기
				$("#selectContent").on("change",
						function(event) {
							var selectedVal = $(this).val();
							var eatNo = $("#eatNo").val(selectedVal);
							$.ajax({
								url : `/approvals/temp?eatNo=` + selectedVal,
								type : 'GET',
								success : function(response) {
									oEditors.getById["content"].exec(
											"UPDATE_CONTENTS_FIELD", []);
									oEditors.getById["content"].exec("SET_IR",
											[ response.content ]);
									$('#content').val(response.content);
								},
								error : function(xhr, status, error) {
									alert('데이터 호출 실패: ' + error);
								}
							});
						});
				// 버튼 클릭 시 폼 제출
				$("#createButton").on("click", function(event) {
					submitPost(event);
				});
			});
//end of 템플릿에 저장되어 있는 data 가지고 오기

<!-- 모달창 여닫는 script -->
$(document).ready(
		function() {
			const modal = $("#apprModal");
			const closeBtn = $(".close");
			// 모달 열기 버튼 클릭 시 이벤트 처리
			$('.modalBtn').on('click', function() {
				        $('#seq').val( event.target.dataset.seq ); //결재자의 순번을 결정하는 기능, 
						$("body").addClass("modal-open"); // 스크롤 막는 클래스 추가
						modal.show();
					});
			// 모달 닫기 버튼 클릭 시 이벤트 처리
			closeBtn.on("click", function() {
				https: //hayleyun.tistory.com/entry/HTML-모달창Modal-만들기 5/9
				modal.css("display", "none");
				$("body").removeClass("modal-open"); // 스크롤 막는 클래스 제거
			});
			// 모달 영역 외부 클릭 시 모달 닫기
			$(window).on("click", function(event) {
				if (event.target === modal[0]) {
					modal.css("display", "none");
					$("body").removeClass("modal-open"); // 스크롤 막는 클래스 제거
				}
			});
		});
	//modal에서 선택한 결재자 정보를 부모 페이지에 넘기는 기능
	  $(document).ready(function(){
			$("#modalSubmit").on("click", function(e){
				e.preventDefault();
				var seq = $('#seq').val();
				var selectedApprover = $("#selectApprovers option:checked").text();
				var selectedApproversEmp = $("#selectApprovers option:checked").val();
				var selectedApproversName = selectedApprover.split('/')[0];
				var selectedApproversInfo = selectedApprover.split('/')[1];
				var empNoListVal = $(`[name="approvers[${seq-1}].empNo"]`).val(selectedApproversEmp);
				//var sortVal = $('[name=sort]').eq(seq-1).val(seq);
				$('#apprerTable tbody tr').eq(0).children().eq(seq).find('span').html(selectedApproversName);
				$('#apprerTable tbody tr').eq(1).children().eq(seq).find('span').html(selectedApproversInfo);					
				$('#selectApprovers').prop('selectedIndex', 0);
				$('#approversSelect').modal('hide');				
			});
		});
	//
//기안버튼을 누르면 form의 데이터를 전부 넘김
	function submitPost(event) {
	var drafterEmpNo = $('input[name=drafterEmpNo]').val(userEmpNo);	
		event.preventDefault(); // 폼 제출 방지
		oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
		if ( 	   content  == null
				|| content == '' 
				|| content == '&nbsp;'
				|| content == '<br>' 
				|| content == '<p>&nbsp;</p>'){
			alert("템플릿을 정해주세요.");
			oEditors.getById["content"].exec("FOCUS");
			return;
		}else{
			console.log(content);
			insertForm.submit(); // 폼 제출			
		}
	}
//end of 기안버튼을 누르면 form의 데이터를 전부 넘김
</script>
</div>