<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<script src="/dist/js/smartEditor.js"></script>
	<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js"
		charset="utf-8"></script>
<link rel="stylesheet" href="/dist/css/approval/createTemplateForm.css" />
<style>

</style>
	<div class="body-page-wrapper">
		<div class="purple-background-container">
			<div class="breadcrumb">
				<div class="breadcrumb-left">
					<h4>電子決裁テンプレート生成</h4>
					<p>電子決裁テンプレート生成ページです。</p>
				</div>
				<div class="breadcrumb-right">
					<span>電子決裁管理 > 電子決裁テンプレート生成</span>
				</div>
			</div>
			<div class="card_memberInsert">
				<div class="col-md-9">
					<form class="form-horizontal" name="insertForm"
						th:action="@{/approvals/create-temp}" method="post">
						<!-- 세큐리티 cors를 방지하는 기능  -->
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />

						<div class="form-group row">
							<label for="title"
								class="col-sm-3 text-end control-label col-form-label">タイトル</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="insertTitle"
									name="title" placeholder="テンプレートのタイトルを決めてください" />
							</div>
						</div>
						<div class="form-group row">
							<label for="content"
								class="col-sm-3 text-end control-label col-form-label">内容</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="content" name="content"></textarea>
							</div>
						</div>
						<!-- 등록 버튼 -->
						<div class="insert-btn">
							<button type="button" id="createButton" class="btn btn-primary">テンプレート登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		let oEditors = [];
		$(document).ready(function() {
			smartEditor();
			// UpdateButton 클릭 이벤트 핸들러 등록
			$("#createButton").on("click", function(event) {
				submitPost(event);
			});
		});

		function submitPost(event) {
			// 네이버 스마트 에디터 2.0 적용
			event.preventDefault(); // 폼 제출 방지
			oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
			let title = document.getElementById("insertTitle").value;
			let content = document.getElementById("content").value;
			if (title == '' || title == null) {
				Toast.fire({
					icon : "warning",
					title : "タイトルを入力してください。"
				});
				document.getElementById("insertTitle").focus();
			}
			if (content == "" || content == null || content == '&nbsp;'
					|| content == '<br>' || content == '<br/>'
					|| content == '<p>&nbsp;</p>' || content == '<p></p>') {
				Toast.fire({
					icon : "warning",
					title : "内容を入力してください"
				});
				oEditors.getById["content"].exec("FOCUS"); //포커싱
				return;
			} else {
				console.log(content);
				insertForm.submit();
			}
		}
	</script>
</div>