<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js"
	charset="utf-8"></script>
</head>
<body>
	<div class="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-15">
					<div class="card">
						<form action="/approvals/createAppr" class="form-horizontal"
							th:object="${apprvers}">
							<div class="card-body">
								<h4 class="card-title">전자결재 기안 페이지</h4>
								<hr>
								<div class="form-group row">
									<div class="col-sm-3">
										<select id="selecting" th:field="*{tempInfo}"
											class="form-select">
											<option value="">==템플릿 선택==</option>
											<option th:each="temps : ${tempInfo}"
												th:value="${temps.eatNo}">[[${temps.title}]] /
												[[${temps.eatNo}]]</option>
										</select>
									</div>
								</div>
								<textarea name="content" id="content" rows="2"
									style="resize: none;" spellcheck="false"
									placeholder="내용을 입력해주세요"></textarea>
								<div class="border-top">
									<div class="card-body text-center">
										<input type="submit" id="createButton" class="btn btn-primary"
											value="기안">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		let oEditors = []; // SmartEditor 참조를 위한 배열

		function smartEditor() {
			console.log("Naver SmartEditor");
			nhn.husky.EZCreator.createInIFrame({
				oAppRef : oEditors,
				elPlaceHolder : "content",
				sSkinURI : "/smarteditor/SmartEditor2Skin.html",
				fCreator : "createSEditor2"
			});
		}

		$(document)
				.ready(
						function() {
							smartEditor();
							// 템플릿 선택 시 내용 불러오기
							$("#selecting")
									.on(
											"change",
											function(event) {
												var selectedVal = $(this).val();
												console.log(selectedVal
														+ '번 호출');
												if (selectedVal) {
													$
															.ajax({
																url : `/approvals/loveJapan?eatNo=`
																		+ selectedVal,
																type : 'GET',
																/* data: { eatNo: selectedVal }, // 선택된 템플릿 ID를 데이터로 전송 */
																success : function(
																		response) {
																	oEditors.getById["content"]
																			.exec(
																					"UPDATE_CONTENTS_FIELD",
																					[]);
																	oEditors.getById["content"]
																			.exec(
																					"SET_IR",
																					[ response ]);
																	$(
																			'#content')
																			.val(
																					response);
																},
																error : function(
																		xhr,
																		status,
																		error) {
																	alert('데이터 호출 실패: '
																			+ error);
																}
															});
												} else {
													// 템플릿 선택 해제 시 에디터 초기화
													oEditors.getById["content"]
															.exec("SET_IR",
																	[ "" ]);
												}
											});

							// 버튼 클릭 시 폼 제출
							$("#createButton").on("click", function(event) {
								submitPost(event);
							});
						});

		function submitPost(event) {
			event.preventDefault(); // 폼 제출 방지
			oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []); // 에디터 내용을 textarea에 업데이트
			let content = document.getElementById("content").value;

			if (!content || content.trim() === '' || content === '&nbsp;'
					|| content === '<br>' || content === '<p>&nbsp;</p>'
					|| content === '<p></p>') {
				alert("템플릿을 정해주세요.");
				oEditors.getById["content"].exec("FOCUS"); // 포커싱
				return;
			} else {
				console.log(content);
				insertForm.submit(); // 폼 제출
			}
		}
	</script>
</body>
</html>
