<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>전자결재 템플릿 생성 페이지</title>
</head>
<body>
	<form action="createTemplate" method="post">
		<div id="insertTitle">
			<label for="templateTitle">템플릿 제목</label> <input type="text"
				id="templateTitle" name="templateTitle">
		</div>
		<div id="smarteditor">
			<textarea name="editorTxt" id="editorTxt" rows="20" cols="10"
				placeholder="내용을 입력해주세요" style="width: 500px"></textarea>
		</div>
		<input type="button" />
	</form>
</body>
<script>
	let oEditors = []
	smartEditor = function() {
		console.log("Naver SmartEditor")
		nhn.husky.EZCreator.createInIFrame({
			oAppRef : oEditors,
			elPlaceHolder : "editorTxt",
			sSkinURI : "/smarteditor/SmartEditor2Skin.html",
			fCreator : "createSEditor2"
		})
	}
	$(document).ready(function() {
		smartEditor()
	})
	submitPost = function() {
 oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD", [])
 let content = document.getElementById("editorTxt").value
 if(content == '') {
	 alert("내용을 입력해주세요.")
	 oEditors.getById["editorTxt"].exec("FOCUS")
	 return
	 } else {
	 console.log(content)
	 }
	}
</script>
</html>