<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js"
		charset="utf-8"></script>
	<div class="container-fluid">
		<div class="row">
			<h4 class="card-title">기안자 : [[${approvals.drafterName}]]</h4>
			<div class="col-md-6">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div>
								<div class="card-body">
									<span>[[${approvals.title}]]</span>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-bordered" id="table">
									<thead>
										<tr>
											<th:block th:each="appr : ${approvers}">
												<td><span>[[${appr.approverName}]]</span></td>
											</th:block>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th:block th:each="appr : ${approvers}">
												<td><span>[[${appr.positionTitle}]]</span></td>
											</th:block>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th:block th:each="appr : ${approvers}">
												<th:block th:switch="${appr.approverStatus}">
													<td>
													<input type="hidden" name="approvers[0].empNo">
													<th:block th:case="b1" id="approveOrdenine">
															<input type="hidden" name="earNumber" th:value="${appr.earNumber}">
															<input type="hidden" name="sort" th:value="${appr.approverSort}">
															<button type="button" th:if="${session.userEmpNo == appr.approverEmpNo}"
																class="approveBtn badge rounded-pill bg-danger" th:data-ear-no="${appr.earNumber}" th:value="b3" th:text="승인"></button>
															<button type="button" th:if="${session.userEmpNo == appr.approverEmpNo}"	
																class="approveBtn badge rounded-pill bg-warning" th:data-ear-no="${appr.earNumber}" th:value="b2" th:text="반려"></button>
															<span th:unless="${session.userEmpNo == appr.approverEmpNo}">대기</span>
													</th:block> 
													<span th:case="b2">반려</span>
													<span th:case="b3">승인</span>
													<span th:case="*">-</span>
													</td>
												</th:block>
											</th:block>
										</tr>
									</tfoot>
								</table>
							</div>
							<div class="card-body">
								<span th:utext="${approvals.content}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	var sort = $('input[name=sort]').val();
		$(".approveBtn").on('click', function(event) {
			var approveOrDenine = $(this).val();
			const earNo = this.getAttribute('data-ear-no');
			const buttonText = $(this).text();
			$.ajax({
				url : "/approvals/updateAppr",
				type : 'POST',
				contentType : "application/json",
				data : JSON.stringify({ earNo : earNo, approverStatus :  approveOrDenine }),
				success : function(response) {
					if (confirm(`${buttonText} 하시겠습니까?`) == true) { //확인
					 $(event.target).siblings('.approveBtn').remove(); 
         	     	 $(event.target).replaceWith(`<span>${buttonText}</span>`); 
					} else { //취소
						return;
					}
				},
				error : function(xhr, status, error) {
					alert('결재하지 못했습니다: ' + error);
				}
			});
		});
	</script>
</div>