<!DOCTYPE html>
<th:block xmlns:th="https://www.thymeleaf.org/" th:fragment="HeaderFrag">
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<style>
	  #navbarSupportedContent>ul{
	    display: flex;
	    justify-content: center; /* Horizontal alignment */
	    align-items: center; /* Optional: Vertical alignment */
	  }
	</style>
	<header class="topbar" data-navbarbg="skin5">

		<nav class="navbar top-navbar navbar-expand-md navbar-dark">
			<div class="navbar-header" data-logobg="skin5">
				<a class="navbar-brand" href="/dashboard"> 
					<!-- Logo icon --> 
					<b class="logo-icon ps-2"> 
						<img src="../assets/images/logo-icon.png" alt="homepage" class="light-logo" width="25" />
					</b> 
					<span class="logo-text ms-2"> 
						<img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" />
				</span>
				</a> 
				<a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
					<i class="ti-menu ti-close"></i>
				</a>
			</div>
			<a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
			<div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
				<ul class="navbar-nav float-start me-auto" style="margin: 0 auto;">
					<li class="nav-item d-none d-lg-block">
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_hrm" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="d-none d-md-block">인사관리 <i class="fa fa-angle-down"></i></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown_hrm">
							<li><a class="dropdown-item" th:href="@{/memberInfo}">나의 기본 정보</a></li>
							<li><a class="dropdown-item" th:href="@{/deptMember}">부서 정보</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" th:href="@{/deptManager}">조직관리</a></li>
							<li><a class="dropdown-item" th:href="@{/memberList}">사원관리</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_proj" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="d-none d-md-block">프로젝트관리 <i class="fa fa-angle-down"></i></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown_proj">
							<li><a class="dropdown-item" th:href="@{/project/projectlist}">프로젝트현황</a></li>
							<li><a class="dropdown-item" th:href="@{/project/projectworklist}">프로젝트 업무 관리</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" th:href="@{/project/projectfilelist}">소스관리</a></li>
							<li><a class="dropdown-item" th:href="@{/project/projectfilelist}">프로젝트 파일</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/cal/schList}" aria-expanded="false">
							<span class="d-none d-md-block">일정관리 </span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_appr" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="d-none d-md-block">전자결재관리 <i class="fa fa-angle-down"></i></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown_appr">
							<li><a class="dropdown-item" th:href="@{/approvals/myApprList/a1}">진행중인 전자결재</a></li>
							<li><a class="dropdown-item" th:href="@{/approvals/approveList/all}">문서함</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" th:href="@{/approvals/tempList}">전자결재 템플릿 관리</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_bods" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="d-none d-md-block">게시판 <i class="fa fa-angle-down"></i></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown_bods">
							<li><a class="dropdown-item" th:href="@{/board/bodsList?boardNo=1}">공지사항</a></li>
							<li><a class="dropdown-item" th:href="@{/board/bodsList?boardNo=2}">자유게시판</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" th:href="@{/board/bodsCfig}">게시판관리</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav float-end">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-bell font-24"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img th:src="${session.userImg != null ? '/imgs/' + session.userImg : '/assets/images/users/default.png'}" alt="user" class="rounded-circle" width="31" />
</a>
						<ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
							<li>
								<!-- 링링 마이페이지 연결 -->
								<a class="dropdown-item" th:href="@{/memberInfo}"> 
									<i class="mdi mdi-account me-1 ms-1"></i> 나의 기본 정보
								</a>
							</li>
							<li>
								<!-- 링링 로그아웃 -->
								<a class="dropdown-item" th:href="@{/logout}"> 
									<i class="fa fa-power-off me-1 ms-1"></i> 로그아웃
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</th:block>