<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.collavore.app.approvals.mapper.ApprovalsMapper">

	<!-- 템플릿 리스트 -->
	<select id="tempList" resultType="ApprovalstempVO">
		SELECT *
		FROM approvalstemp
		ORDER BY eat_no
	</select>

	<!-- 템플릿 상세 -->
	<select id="readTemp" resultType="ApprovalstempVO"
		parameterType="int">
		SELECT *
		FROM approvalstemp
		WHERE eat_no = #{eatNo}
	</select>
	<!-- -->

	<!-- 템플릿 생성 -->
	<insert id="createApprsTemp" parameterType="ApprovalstempVO">
		<selectKey keyProperty="eatNo" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(eat_no),0) + 1
			FROM approvalstemp
		</selectKey>
		INSERT INTO approvalstemp (
		eat_no
		,title
		,content
		.reg_date
		)
		VALUES (
		#{eatNo}
		,#{title}
		,#{content}
		,#{regDate}
		)
	</insert>
	<!-- -->

	<!-- 템플릿 삭제 -->
	<delete id="deleteTemp" parameterType="int">
		DELETE approvalstemp
		WHERE
		eat_no = #{eatNo}
	</delete>
	<!-- -->

	<!-- 템플릿 수정 -->
	<update id="updateTemp" parameterType="ApprovalstempVO">
		UPDATE approvalstemp
		SET
		title = #{title}
		,content = #{content}
		WHERE eat_no = #{eatNo}
	</update>
	<!-- -->

	<!-- 결재자 이름을 검색하면 그 대상의 정보를 호출하는 기능 -->
	<select id="" resultType="HrmVO" parameterType="String">
		SELECT emp_no
		,d.name
		,e.info
		FROM employees
		WHERE name = #{empName}
	</select>
	<!-- -->

	<!-- 전자결재를 생성하는 기능 -->
	<!-- approvals테이블에 넣기 -->
	<insert id="createApprsEaTable" parameterType="ApprovalsVO">
		<selectKey keyProperty="eaNo" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(approvals.ea_no),0) + 1
			FROM approvals
		</selectKey>
		INSERT INTO approvals(
		approvals.ea_no
		,title
		,eat_no
		,approvals.reg_date
		,content
		)
		VALUES (
		#{eaNo}
		,#{title}
		,#{eatNo}
		,sysdate
		,#{content}
		)
	</insert>
	<!-- -->

	<!-- approvers테이블에 넣기 -->
	<insert id="createApprsEarTable" parameterType="ApprovalsVO">
		<selectKey keyProperty="earNo" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(ear_no), 0) + 1 FROM approvers
		</selectKey>
		INSERT ALL
		<foreach index="idx" collection="approvers" item="approvers"
			separator=" ">
			<if
				test="
					  approvers.empNo != null and 
				      approvers.empNo != ''
				     ">
				INTO approvers (
				ear_no
				,ea_no
				,emp_no
				,sort
				,proc_date
				)
				VALUES (
				FIND_APPROVERS_SEQ()
				,#{approvers.eaNo}
				,#{approvers.empNo}
				,#{approvers.sort}
				,sysdate
				)
			</if>
		</foreach>
		SELECT * FROM dual
	</insert>
	<!-- -->

	<!-- 전자결재 정보 조회 -->
	<select id="readApproval" parameterType="Integer"
		resultType="ApprovalsVO">
		SELECT a.title
		,a.content
		,a.reg_date
		,a.comp_date
		,a.emp_no as "drafterEmpNo"
		,e.name as "drafterName"
		,a.status
		FROM approvals a LEFT JOIN employees e
		ON a.emp_no = e.emp_no
		WHERE a.ea_no = #{eaNo}
	</select>
	<!-- -->

	<!-- 결재자 조회 -->
	<select id="readApprovers" parameterType="Integer"
		resultType="ApprovalsVO">
		SELECT
		r.status as "approverStatus"
		,e.name as "approverName"
		,e.emp_no as "approverEmpNo"
		,e.info as "jobTitle"
		,r.sort
		FROM
		approvals a JOIN approvers r
		ON a.ea_no = r.ea_no
		JOIN employees e
		ON r.emp_no = e.emp_no
		WHERE a.ea_no = #{eaNo}
		ORDER BY r.sort
	</select>
	<!-- -->


	<!-- 인사 테이블 조회 -->
	<select id="employees" resultType="HrmVO">
		SELECT *
		FORM employees
	</select>
	<!-- -->

	<!-- 전자결재 삭제 -->
	<select id="deleteApproval" statementType="CALLABLE">
	  {call DELETE_EANO(#{eaNo})}
	</select>
	<!-- -->

</mapper>
<!-- 3번째 -->