<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collavore.app.cals.mapper.SchsMapper">

	<!--============================== 일정관리 ==================================== -->
	<select id="selectSchsAll" resultType="SchsVO">
		SELECT
		sch_no
		, title
		,
		start_date
		, end_date
		, cal_no
		, is_alarm
		FROM schs
		<!-- WHERE isDelete = 'h2' 미삭제된 일정만 조회 -->
	</select>

	<!-- 단건 일정 조회 -->
	<select id="selectSchsInfo" parameterType="SchsVO"
		resultType="SchsVO">
		SELECT
		sch_no
		, title
		,
		start_date
		, end_date
		, cal_no
		, is_alarm
		FROM schs
		<!-- WHERE schNo = #{schNo} AND isDelete = 'h2' 미삭제된 일정만 조회 -->
	</select>

	<insert id="insertSchsInfo" parameterType="SchsVO">

		<selectKey keyProperty="schNo" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(sch_no), 0)+1
			FROM schs
		</selectKey>
		INSERT INTO schs (
		sch_no
		,title
		,start_Date
		,end_date
		,cal_no
		,is_alarm)
		VALUES (
		#{schNo}
		,#{title}
		,#{startDate,jdbcType=TIMESTAMP}
		,#{endDate,jdbcType=TIMESTAMP}
		,#{calNo}
		,#{isAlarm})
	</insert>


	<delete id="deleteSchsInfo" parameterType="int">
		DELETE FROM schs
		WHERE
		sch_no = #{schNo}
	</delete>

	<update id="updateSchsInfo" parameterType="SchsVO">
		UPDATE schs
		SET title =
		#{title},
		start_date = #{startDate},
		end_date = #{endDate},
		cal_no =
		#{calNo},
		is_alarm = #{isAlarm}

		WHERE sch_no = #{schNo}

	</update>

	<!--==============================END 일정관리 ==================================== -->

	<!--==============================개인 캘린더==================================== -->


	<select id="selectAllCalendars" resultType="CalsVO">
		SELECT cal_no
		, name
		,
		type
		, reg_date
		FROM cals
		WHERE is_delete = 'h2'
	</select>


	<select id="selectSoloCal" resultType="CalsVO">
		SELECT cal_no
		,name
		,type
		,reg_date
		,is_delete
		,delete_date
		,color
		FROM cals

	</select>





	<insert id="insertCalsInfo" parameterType="CalsVO">
		<!-- INSERT 전 calNo를 계산하기 위한 selectKey -->
		<selectKey keyProperty="calNo" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(cal_no), 0) + 1
			FROM cals
		</selectKey>

		INSERT INTO cals (
		cal_no
		, name
		, type
		, reg_date
		, is_delete
		, delete_date
		, color
		)
		VALUES (
		#{calNo}
		, #{name}
		, #{type}
		, SYSDATE
		, #{isDelete}
		, NULL
		, #{color}
		)
	</insert>


	<!-- 캘린더 정보를 calNo로 가져오는 쿼리 -->
	<update id="updateCalsInfo" parameterType="CalsVO">
		UPDATE cals
		SET
		name = #{name},
		color = #{color}
		WHERE cal_no = #{calNo}
	</update>


	<!-- 캘린더를 휴지통으로 이동 (isDelete = 'h1'로 업데이트하고 deleteDate 설정) -->
	<update id="updateCalToTrash" parameterType="String">
		UPDATE cals
		SET
		is_delete = 'h1', delete_date = SYSDATE
		WHERE cal_No = #{calNo}
	</update>


	<!--==============================END 개인 캘린더 ==================================== -->





</mapper>