<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collavore.app.api.mapper.FlutterMapper">
	<select id="selectUser"  resultType="FlutterVO">
		SELECT email
			, name
		FROM employees
		WHERE email = #{email}
			AND password = #{password}
	</select>
	
	<select id="selectId"  resultType="String">
		SELECT email
		FROM employees
		WHERE name = #{name}
			AND tel = #{tel}
	</select>
	
	<select id="chkUser" resultType="int">
		SELECT emp_no
		FROM employees
		WHERE email = #{email}
			AND name = #{name}
	</select>
	
</mapper>
<!-- 3번째 -->