<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collavore.app.hrm.mapper.MemberMapper">
    <!-- 사원 전체 리스트 -->
    <select id="selectMemberAll"
            resultType="com.collavore.app.hrm.service.HrmVO">
        SELECT e.name AS empName,
               e.tel,
               e.email,
               d.name AS deptName,
               j.name AS jobName,
               p.name AS posiName,
               e.work_type
        FROM employees e
                 LEFT JOIN departments d ON e.dept_no = d.dept_no
                 LEFT JOIN jobs j ON e.job_no = j.job_no
                 LEFT JOIN positions p ON e.posi_no = p.posi_no
        ORDER BY e.name
    </select>

    <!-- 사원 등록 -->
    <insert id="insertMember"
            parameterType="com.collavore.app.hrm.service.HrmVO">
        INSERT INTO employees
            (name,
             password,
             tel,
             email,
             address,
             emp_no,
             work_type,
             join_date,
             dept_no,
             posi_no,
             job_no)
        VALUES
            (#empName},
             #{password},
             #{tel},
             #{email},
             #{address},
             #{empNo},
             #{workType},
             #{joinDate},
             #{deptNo},
             #{posiNo},
             #{jobNo})
    </insert>

    <!-- 사원 단건 조회 -->
    <select id="selectMemberInfo"
            resultType="com.collavore.app.hrm.service.HrmVO">
        SELECT e.info,
               e.name AS empName,
               e.tel,
               e.email,
               e.emp_no,
               e.work_type,
               e.img,
               e.join_date,
               d.name AS deptName,
               p.name AS posiName,
               j.name AS jobName
        FROM employees e
                 LEFT JOIN departments d ON e.dept_no = d.dept_no
                 LEFT JOIN positions p ON e.posi_no = p.posi_no
                 LEFT JOIN jobs j ON e.job_no = j.job_no
        WHERE e.emp_no = #{empNo}
    </select>

    <!-- 사원 정보 수정 -->
    <update id="updateMember"
            parameterType="com.collavore.app.hrm.service.HrmVO">
        UPDATE employees
        SET name = #{empName},
            tel = #{tel},
            email = #{email},
            password = #{password},
            dept_no = #{deptNo},
            posi_no = #{posiNo},
            job_no = #{jobNo}
        WHERE emp_no = #{empNo}
    </update>

    <!-- 사원 삭제 -->
    <delete id="deleteMember"
            parameterType="int">
        DELETE FROM employees
        WHERE emp_no = #{empNo}
    </delete>

    <!-- 이메일로 사용자 정보 조회 -->
    <select id="findByEmail"
            parameterType="string"
            resultType="com.collavore.app.hrm.service.HrmVO">
        SELECT * FROM employees WHERE email = #{email}
    </select>

</mapper>
