<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collavore.app.security.mapper.UserMapper">
	<select id="findByEmail" resultType="UserVO">
        SELECT DISTINCT
            e.emp_no,
            e.email,
            e.password,
            e.name,
            e.img,
            e.dept_no,
            (SELECT grade FROM positions WHERE e.posi_no = posi_no) AS posiGrade,
            e.is_admin
        FROM 
            employees e
        LEFT JOIN 
            employee_roles er ON e.emp_no = er.emp_no
        WHERE 
            e.email = #{email}
    </select>

    <select id="findRolesByEmail" resultType="String">
        SELECT 
            r.role_name
        FROM 
            employee_roles er
        JOIN 
            roles r ON er.role_id = r.role_id
        JOIN 
            employees e ON er.emp_no = e.emp_no
        WHERE 
            e.email = #{email}
    </select>
    
    <select id="myMenuAuth" resultType="String">
    	SELECT m.menu_value AS menuAuth
    	FROM menusauth ma
    		INNER JOIN menus m ON ma.menu_no = m.menu_no
    	WHERE emp_no = #{empNo}
    </select>
    
    <select id="selectEmpList" resultType="EmpVO">
    	
		SELECT
			p.posi_no
			, e.name AS empName
			, p.name AS posiName
			, e.emp_no
			, d.name AS deptName
		FROM employees e 
			JOIN positions p ON e.posi_no = p.posi_no
			JOIN departments d ON e.dept_no = d.dept_no
		ORDER by p.posi_no
    </select>
</mapper>